
@keyframes rotate {
	0% {
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
		} 
}

.nyt-bestseller-listings-booklist {
	margin: 1.5em 0;

	&.loading {
		opacity: .3;
		position: relative;

		&::after {
			animation: rotate 0.8s infinite linear;
			border-radius: 50px;
			border-radius: 50%;
			border-right-color: transparent !important;
			border: 5px solid hsl(0,0%,50%);
			content: '';
			display: block;
			height: 50px;
			left: 45%;
			left: calc( 50% - 50px );
			padding: 12px;
			position: absolute;
			top: 100px;
			width: 50px;
			z-index: 101;
		}
	}
}

.nyt-bestseller-listings-book {

	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px dashed hsl(0,0%,84%);

	h3 {
		margin-top: 0;
		padding-top: 0;
		grid-column: 1 / -1;
	}

	&._with-image {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: .8em;
		
		@media(min-width: 550px) {
			grid-template-columns: 480px 1fr;
		}
	}
}
.nyt-bestseller-listings-author {
	font-style: italic;
	font-size: .9em;
}
.nyt-bestseller-listings-img {
	// float: right;
	max-width: 100%;
	// width: 225px;
	// margin-left: .5em;
}

// .nyt-bestseller-listings-description {}

ul.nyt-bestseller-listings-links {
	padding-top: 2px;
	margin-top: 0;
}

.nyt-bestseller-listings-changeListWrap {
	margin: 2em 0 2.5em;
}